* {
  box-sizing: border-box;
}

div.outer, div.game {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #14213d;
  font-weight: bold;
  position: fixed;
  margin-left: -8px;
  top: 0;
  width: 100%;
  letter-spacing: 2px;
}

nav ul li {
  float: left;
  transition: background-color 0.5s;
}

nav ul li a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 14px 20px;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li:hover {
  background-color: #000000;
}

/* body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
} */

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
